<div class="col-lg-4 col-md-6">
	<div class="single-product">
		<div class="product-img">
			<span class="pro-label new-label">new</span>
			<a href="{{ url }}">
				{% if content.field_product_image is not empty %}
					{{ content.field_product_image }}
				{% endif %}
			</a>
			<div class="product-action clearfix">
				<a href="#" data-bs-toggle="tooltip" data-placement="top" title="Wishlist">
					<i class="zmdi zmdi-favorite-outline"></i>
				</a>
				<a href="#" data-bs-toggle="tooltip" data-placement="top" title="Add To Cart">
					<i class="zmdi zmdi-shopping-cart-plus"></i>
				</a>
			</div>
		</div>
		<div class="product-info clearfix">
			<div class="fix">
				<h4 class="post-title floatleft">
					<a href="{{ url }}">{{ node.title.value }}</a>
				</h4>
				<p class="floatright hidden-sm">{{ node.type.entity.label }}</p>
			</div>
			<div class="fix">
				{% if content.field_product_price is not empty %}
					<span class="pro-price floatleft">{{ content.field_product_price }}</span>
				{% endif %}
				<h4 class="roaster-teaser floatright">
					{% if content.field_roaster is not empty %}
						{{ content.field_roaster }}
					{% endif %}
				</h4>
			</div>
		</div>
	</div>
</div>
