<div class="area-404 pt-80 pb-80">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="error-content text-center">
					<img src="/{{ active_theme_path() }}/assets/img/bg/error.png" alt=""/>
					<h4 class="text-light-black mt-60">{{'Ooops.... Error 404'|t}}</h4>
					<h5 class="text-light-black">{{'Sorry, But the page you are looking for does not exist'|t}}</h5>
					<a class="button-one submit-btn-4 go-to-home bg-white text-uppercase text-light-black" href="{{ url('<front>') }}" data-text="go to home page">{{'go to home page'|t}}</a>
				</div>
			</div>
		</div>
	</div>
</div>
