<article{{ attributes }}>
	<div class="product-area single-pro-area pt-80 pb-80 product-style-2">
		<div class="container">
			<div class="row shop-list single-pro-info no-sidebar">
				<div class="col-lg-12">
					<div class="single-product clearfix">
						<div class="single-big-photo slick-initialized">
							<img src="{{ product.field_image.0 }}" alt="" />
						</div>
						<div class="product-info">
							<div class="fix">
								<h4 class="post-title floatleft">{{ product.title }}</h4>
							</div>
							<div class="fix mb-20">
								<span class="pro-price">{{ product.field_product_price }}</span>
							</div>
							<div class="product-description">
								<p>{{ product.body }}</p>
								<p>{{ product.field_coffee_notes }}</p>
							</div>
							<div class="product-description">
								<p>{{ product.stores }}
								</p>
							</div>
							<div class="size-filter single-pro-size mb-35 clearfix">
										<span class="color-title text-capitalize">{{'Quantity'|t}}</span>
									{{ product|without('title', 'body', 'variation_attributes',
									'field_coffee_notes', 'stores', 'field_image') -}}
							</div>
							<div class="clearfix">
								<div class="cart-plus-minus">
									<input type="text" value="02" name="qtybutton" class="cart-plus-minus-box">
								</div>
								<div class="product-action clearfix">
									<a href="wishlist.html" data-bs-toggle="tooltip" data-placement="top"
										title="Wishlist">
										<i class="zmdi zmdi-favorite-outline"></i>
									</a>
									<a href="cart.html" data-bs-toggle="tooltip" data-placement="top"
										title="Add To Cart">
										<i class="zmdi zmdi-shopping-cart-plus"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</article>