<div class="slider-banner">
	<div class="single-banner banner-1">
		<img src="{{ store.field_store_image.0 }}" alt=""/>
		<div class="banner-brief">
			<h2 class="banner-title">
				<a href="#">{{store.name}}</a>
			</h2>
		</div>
		<a href="{{store_url}}" class="button-one font-16px" data-text="{{'Buy now'|t}}">{{'See store'|t}}</a>
	</div>
</div>
