<div
	class="wrapper bg-dark-white">
	<!-- navigation -->
	{% if page.navigation  %}
		{{ page.navigation }}
	{% endif %}
	<!-- navigation -->

	<!-- main -->
	<div
		role="main">

		<!-- header -->
		{% if page.header %}
			{% block header %}
				<header id="sticky-menu" class="header header-2">
					{{ page.header }}
				</header>
			{% endblock %}
		{% endif %}

		<!-- front page -->
		{% if page.front_page %}
			{{ page.front_page }}
		{% endif %}

		<!-- Content -->
		{% if page.content %}
			{{ page.content }}
		{% endif %}

		{# Highlighted 
				{% if page.highlighted %}
					{% block highlighted %}
						<div class="highlighted">{{ page.highlighted }}</div>
					{% endblock %}
				{% endif %} #}

		{# Help 
				{% if page.help %}
					{% block help %}
						{{ page.help }}
					{% endblock %}
				{% endif %} #}
	</div>
	<!-- main -->

	<!-- footer -->
	{% if page.footer %}
		<div class="footer-area footer-2">
			{{ page.footer }}
		</div>
	{% endif %}
	<!-- footer -->
</div>
