<footer>
	<!-- Footer-area start -->
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="single-footer">
					<h3 class="footer-title  title-border">Contact Us</h3>
					<ul class="footer-contact">
						<li>
							<span>Address :</span>28 Green Tower, Street Name,<br>New York City, USA</li>
						<li>
							<span>Cell-Phone :</span>012345 - 123456789</li>
						<li>
							<span>Email :</span>your-email@gmail.com</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-2 col-md-3 col-sm-6">
				{% set footer = simplify_menu('footer') %}
				{% for tree in footer.menu_tree %}
					<div class="links {{ loop.index is even ? 'mx-5' }} ">
						{% if tree.submenu %}
							<h3 class="footer-title  title-border">{{ tree.text }}</h3>
							<div class="single-footer">
								<h3{{tree.text}}</h3>
									<ul class="footer-menu">
										{% for sub in tree.submenu %}
											<li>
												<a href="{{ sub.url }}">
													<i class="zmdi zmdi-dot-circle"></i>
													{{ sub.text }}</a>
											</li>
										{% endfor %}
									</ul>
								{% endif %}
							</div>
						{% endfor %}
					</div>
				</div>
				{# {% set date = "now"|date("Y") %}
																		<p class="mt-5 text-center">{{ drupal_config('custom_stains.settings', 'footer_copyright')|replace({'{year}': date }) }}</p> #}
			</div>
			<!-- Footer-area end -->
		</footer>
