<div class="header-area">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 offset-md-4 col-7">
				<div class="logo text-md-center">
					<a href="{{ url('<front>') }}"><img src="/{{ active_theme_path() }}/assets/img/logo/logo.png" alt=""/></a>
				</div>
			</div>
			<div class="col-md-4 col-5">
				<div class="mini-cart text-end">
					<ul>
						<a class="cart-icon" href="#">
							{{drupal_view('commerce_cart_block')}}
						</a>
					</ul>
				</div>
			</div>
			<div class="menu-toggle menu-toggle-2 hamburger hamburger--emphatic d-none d-md-block">
				<div class="hamburger-box">
					<div class="hamburger-inner"></div>
				</div>
			</div>
			<div class="main-menu  d-none d-md-block">
				{{ drupal_block('language_block:language_interface', wrapper=false) }}
				{% set main = simplify_menu('main') %}
				<nav>
					<ul>
						{% for tree in main.menu_tree %}
							{% if not tree.submenu %}
								<li>
									<a href="{{ tree.url }}">{{ tree.text }}</a>
								</li>
							{% else %}
								<li>
									<a>{{ tree.text }}</a>
									<div class="sub-menu menu-scroll">
										<ul>
											{% for sub in tree.submenu %}
												<li>
													<a href="{{ sub.url }}">{{ sub.text }}</a>
												</li>
											{% endfor %}
										</ul>
									</div>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
